:root {
  --black: #090a06;
  --dark-grey: #999;
  --grey: #ccc;
  --light-grey: #efefef;
  --white: #fff;
  --light-purple: #eeeeff;
}

html {
  font-family: serif;
  font-size: 19px;
  color: var(--black);
  background-color: var(--white);
}

body {
  padding: 20px 0;
  margin: 0;
}

a {
  background-color: var(--light-purple);
}

a:hover {
  color: var(--black);
  background-color: var(--grey);
}

header,
main,
footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
}

footer {
  padding-top: 40px;
  max-width: 650px;
}
footer p {
  font-size: 17px;
  text-align: center;
}

main {
  display: flex;
}

#overview {
  padding: 4px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  border-bottom-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
}

#breadcrumbs {
  padding: 0 8px 0 0;
}

#date {
  text-align: right;
}

#sidebar {
  width: 25%;
  font-size: 17px;
}

#sidebar h1 {
  padding-top: 2ch;
  font-size: 17px;
  font-weight: normal;
  text-decoration: underline;
}
#sidebar h2 {
  padding-top: 0ch;
  font-size: 17px;
  font-weight: normal;
  text-decoration: underline;
}
#sidebar ul {
  padding-left: 0;
  list-style-type: none;
}
#sidebar li {
  padding-bottom: 1ch;
  text-align: left;
  hyphens: none;
}

#content {
  width: 75%;
  padding-right: 40px;
}
#content img {
  width: 100%;
}

.top-nav,
.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#top-nav-mobile {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

hr {
  border: none;
  border-top: 2px solid;
  border-top-color: var(--light-grey);
}

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
}

h2 {
  padding-top: 1ch;
  font-size: 26px;
  font-weight: normal;
}

h3 {
  padding-top: 1ch;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}

.post-abbrev-body {
  padding-bottom: 20px;
}

.post-abbrev-date {
  display: block;
  padding-bottom: 0.5ch;
}

p,
li,
label {
  text-align: justify;
  line-height: 2.5ch;
  hyphens: auto;
}

#series {
  font-size: 17px;
  font-style: italic;
}
#series p {
  margin: 0;
}
#series ul {
  list-style-type: none;
}
#series .series-unpublished {
  color: var(--grey);
}

blockquote p,
blockquote ul,
blockquote li {
  font-size: 18px;
  line-height: 2.3ch;
}
blockquote .footnote-ref {
  font-size: 14px;
}

sup {
  line-height: 0;
}

strong {
  font-weight: normal;
  text-decoration: underline;
}

code {
  font-family: monospace;
  font-size: 14px;
  padding: 2px;
  margin: -2px;
  color: var(--black);
  background-color: var(--light-grey);
  hyphens: none;
}

code .keyword,
code .tag {
  font-weight: bold;
}
code .punctuation {
  font-weight: normal;
}
code .comment {
  font-style: italic;
  color: var(--dark-grey);
}

pre {
  padding: 10px 20px;
  margin: 0 -20px;
  background-color: var(--light-grey);
  overflow-x: auto;
  overflow-y: clip;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

input#bd-email {
  margin: 0.5ch 0 1ch 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  pre code {
    font-size: 12px;
  }
}
@media only screen and (max-width: 640px) {
  main {
    flex-direction: column;
  }
  #sidebar {
    width: 100%;
  }
  #sidebar img {
    display: none;
  }
  #content {
    width: 100%;
    padding: 0;
  }
  .bottom-nav {
    padding-bottom: 20px;
    border-bottom: 2px solid;
    border-bottom-color: var(--light-grey);
  }
  #top-nav-mobile {
    display: flex;
    padding-bottom: 20px;
  }
  pre {
    white-space: pre; /* Since CSS 2.1 */
    white-space: -moz-pre; /* Mozilla, since 1999 */
    white-space: -pre; /* Opera 4-6 */
    white-space: -o-pre; /* Opera 7 */
    word-wrap: normal; /* Internet Explorer 5.5+ */
  }
}
