---
layout: layouts/base.njk
permalink: newsletter_confirmed.html
title: Newsletter Subscription Confirmed
---
<p>
    Yay, you have successfully subscribed to my newsletter!
</p>
<p>
    The next post should be sent out within the week, but in the meantime, I invite you to check out the archive; you can find some links in the sidebar (desktop version) or at the bottom of this page (mobile version).
</p>
<p>
    Happy reading!
</p>
