---
layout: layouts/base.njk
permalink: newsletter_subscribed.html
title: Subscribed to Newsletter
---
<p>
    Thanks for joining my newsletter!
</p>
<p>
    You should find a confirmation email in your inbox; <strong>to complete the process, you will need to press the confirmation link in the email</strong>! You will not be subscribed if you do not.
</p>
