---
layout: layouts/base.njk
permalink: newsletter/
title: Newsletter
---
<p class="notopmargin">Since August 2026, I am also crossposting each post to <a href="https://erichgrunewald.substack.com/">Substack</a>. So the best way of subscribing to this blog is now to subscribe via the Substack:</p>
<div id="subscribe-form">
    <iframe src="https://erichgrunewald.substack.com/embed?transparent=1" width="100%" height="120" style="border: 0; background: transparent" frameborder="0" scrolling="no"></iframe>
</div>
<p>You can also subscribe via the RSS feed. If there's a problem with the RSS feed or with the website generally – or if you just want to get in touch – please write me at <code>contact AT erichgrunewald DOT com</code>.</p>
<img src="{{ '/img/hero/golem.png' | url }}" />
