---
---
<!doctype html>
<html lang="en">
    <head>
        <title>{{ metadata.title }}{{ ' – ' + title if title else '' }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set postDescription = title + ' – ' if title else '' %}
        <meta name="description" content="{{ postDescription + (renderData.description or description or metadata.description) }}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="subject" content={{ metadata.description }}>

        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64">

        <script async defer data-domain="erichgrunewald.com" src="https://plausible.io/js/plausible.js"></script>

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:url" content="{{ metadata.url }}{{ page.url }}">
            <meta name="twitter:title" content="{{ title or metadata.title }}">
            <meta name="twitter:description" content="{{ metadata.description }}">

            <!--Schema-->
            <link rel="author" href="{{ metadata.url }}">
            <link rel="publisher" href="{{ metadata.url }}">
            <meta itemprop="name" content="{{ title or metadata.title }}">
            <meta itemprop="description" content="{{ metadata.description }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title or metadata.title }}">
            <meta property="og:description" content="{{ metadata.description }}">
            <meta property="og:site_name" content="{{ metadata.title }}">
            <meta property="og:locale" content="en_GB">
            <meta property="article:author" content="{{ metadata.url }}">
        {%- endblock -%}
    </head>
    <body>
        <header>
            <div id='overview'>
                <div id='breadcrumbs'><a href="{{  '/' | url }}">~</a> {{ '/ ' + page.fileSlug if title else '' }}</div>
                <div id='date'>{{ 'posted on ' + date | readableDate if date else '' }}</div>
            </div>
        </header>

        <main>
            <div id='content'>
                {{ content | safe }}
                {% if title %}
                    <div><a href="{{ '/' | url }}">← Return to home page</a></div>
                {% endif %}
            </div>
            <div id='sidebar'>
                <img alt="Painting of wooded area by Auguste Louis Lepère." src="{{ '/img/header.jpg' | url }}" width="100%" />
                <h1>Apropos</h1>
                <p>This is my writing-place. There is no About page. There are just a bunch of articles. If you don't know where to start, have a look at the <a href="{{ '/posts/introduction' | url }}">Introduction</a>.</p>
                <p>You can contact me at <a href="https://cryptii.com/pipes/rot13-decoder">ROT13</a> <code>pbagnpg NG revputeharjnyq QBG pbz</code>.</p>
                <p>You can subscribe by sending an email with "subscribe" in the subject line to <code>newsletter AT erichgrunewald DOT com</code>.</p>
                <p>You can also subscribe via <a href="{{ metadata.feed.path | url }}">RSS</a>.</p>
                <h1>Notable posts</h1>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/four-ways-of-not-writing-software-bugs' | url }}">Four Ways of Not Writing Software Bugs</a> about avoding programming errors</li>
                        <li><a href="{{ '/posts/strictness-of-logic-versus-openness-of-logic' | url }}">Strictness of Logic versus Openness of Logic</a> about Jean Sibelius, Gustav Mahler & the symphony</li>
                        <li><a href="{{ '/posts/two-inadequate-arguments-against-moral-vegetarianism' | url }}">Two Inadequate Arguments against Moral Vegetarianism</a> about considerations on price elasticity & supply chain buffers</li>
                        <li><a href="{{ '/posts/paying-for-a-service' | url }}">Paying for a Service</a>, <a href="{{ '/posts/paying-for-sex' | url }}">II</a> & <a href="{{ '/posts/paying-a-corporation' | url }}">III</a> about a Kantian consumer ethics</li>
                        <li><a href="{{ '/posts/auderico' | url }}">Auderico</a> about our duties to material objects, in dialogue form</li>
                        <li><a href="{{ '/posts/two-accounts-of-the-armenian-genocide' | url }}">Two Accounts of the Armenian Genocide</a> about eyewitness reports of the Medz Yeghern</li>
                        <li><a href="{{ '/posts/evolution-of-programming-language-traits' | url }}">Evolution of Programming Language Traits</a> about string interpolation, cultural evolution & free software</li>
                        <li><a href="{{ '/posts/good-works-by-lesser-known-composers' | url }}">Good Works by Lesser-Known Composers</a> about Helena Munktell, Jehan Alain, Harold Shapero & Arnold Rosner</li>
                        <li><a href="{{ '/posts/tolstoy-in-ryazan' | url }}">Tolstoy in Ryazan</a> about charity, moral systems & moral intuition</li>
                    </ul>
                </p>
                <p>✗</p>
            </div>
        </main>

        <footer>
            <p>This site was created by <a href="{{ 'https://github.com/erwald' | url }}">myself</a> & is licensed under <a href="{{ 'https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1' | url }}">CC BY-SA 4.0</a>.</p>
            <p>It tracks page views using <a href="{{ 'https://plausible.io/privacy-focused-web-analytics' | url }}">Plausible</a>, so without collecting any personal data, without cookies & fully anonymously, purely for my own curiosity & in order to improve the site.</p>
        </footer>
    </body>
</html>
