---
---
<!doctype html>
<html lang="en">
    <head>
        <title>{{ title if title else metadata.title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set postDescription = title + ' – ' if title else '' %}
        <meta name="description" content="{{ postDescription + (renderData.description or description or metadata.description) }}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="subject" content={{ metadata.description }}>

        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64">

        <script async defer data-domain="erichgrunewald.com" src="https://plausible.io/js/plausible.js"></script>

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:url" content="{{ metadata.url }}{{ page.url }}">
            <meta name="twitter:title" content="{{ title or metadata.title }}">
            <meta name="twitter:description" content="{{ metadata.description }}">

            <!--Schema-->
            <link rel="author" href="{{ metadata.url }}">
            <link rel="publisher" href="{{ metadata.url }}">
            <meta itemprop="name" content="{{ title or metadata.title }}">
            <meta itemprop="description" content="{{ metadata.description }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title or metadata.title }}">
            <meta property="og:description" content="{{ metadata.description }}">
            <meta property="og:site_name" content="{{ metadata.title }}">
            <meta property="og:locale" content="en_GB">
            <meta property="article:author" content="{{ metadata.url }}">
        {%- endblock -%}
    </head>
    <body>
        <header>
            <div id='overview'>
                <div id='breadcrumbs'><a href="{{  '/' | url }}">~</a> {{ '/ ' + page.fileSlug if title else '' }}</div>
                <div id='date'>{{ 'posted on ' + date | readableDate if date else '' }}</div>
            </div>
        </header>

        <main>
            <div id='content'>
                {% if not title %}
                    <div class='top-nav' id='top-nav-mobile'>
                        <a href="{{ '#about' | url }}">↓ Apropos</a>
                        <a href="{{ '#notable' | url }}">↓ Notable posts</a>
                    </div>
                {% endif %}
                {{ content | safe }}
                {% if date %}
                    <div class='bottom-nav'>
                        <a href="{{ '/' | url }}">← Return to home page</a>
                        <a href="{{ '#top' | url }}">↑ Return to top</a>
                    </div>
                    <div class='bottom-nav' id='bottom-nav-mobile'>
                        <a href="{{ '#about' | url }}">↓ Apropos</a>
                        <a href="{{ '#notable' | url }}">↓ Notable posts</a>
                    </div>
                {% endif %}
            </div>
            <div id='sidebar'>
                <img alt="Painting of wooded area by Auguste Louis Lepère." src="{{ '/img/header.jpg' | url }}" width="100%" />
                <a id="about"><h1>Apropos</h1></a>
                <p>This is my writing-place. There is no About page. There are just a bunch of articles. If you don't know where to start, have a look at the <a href="{{ '/posts/introduction' | url }}">Introduction</a> or the notable posts listed further down.</p>
                <form action="https://buttondown.email/api/emails/embed-subscribe/erichgrunewald"
                      method="post"
                      target="popupwindow"
                      onsubmit="window.open('https://buttondown.email/erichgrunewald', 'popupwindow')"
                      class="embeddable-buttondown-form" >
                    <label for="bd-email">You can subscribe via <a href="{{ metadata.feed.path | url }}">RSS</a> or join the email newsletter here:</label>
                    <input type="email" name="email" id="bd-email" placeholder="immanuelkant@example.com" />
                    <input type="hidden" value="1" name="embed" />
                    <input type="submit" value="Subscribe" />
                </form>
                <p>You can get in touch by writing me at <code>contact AT erichgrunewald DOT com</code>.</p>
                <a id="notable"><h1 id="notable">Notable posts</h1></a>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/can-a-vegan-diet-be-healthy-a-literature-review' | url }}">Can a Vegan Diet Be Healthy? A Literature Review</a> about health effects of plant-based diets</li>
                        <li><a href="{{ '/posts/animal-testing-is-exploitative-and-largely-ineffective' | url }}">Animal Testing Is Exploitative and Largely Ineffective</a> about animal ethics in research</li>
                        <li><a href="{{ '/posts/four-ways-of-not-writing-software-bugs' | url }}">Four Ways of Not Writing Software Bugs</a> about avoding programming errors</li>
                        <li><a href="{{ '/posts/does-it-smell-like-pollocks-in-here' | url }}">Does It Smell like Pollocks in Here?</a> about bullshit in contemporary art</li>
                    </ul>
                </p>
                <h2>Programming</h2>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/using-scheme-to-find-the-median-of-two-sorted-integer-lists' | url }}">Using Scheme to Find the Median of Two Sorted Integer Lists</a> about a solution to a coding problem</li>
                        <li><a href="{{ '/posts/code-purity-principles' | url }}">Code Purity and Principles</a> about cleanliness and best practices in programming</li>
                        <li><a href="{{ '/posts/building-a-lightweight-command-line-newsletter-program' | url }}">Building a Lightweight, Command-Line Newsletter Program</a> about a serverless (kinda) newsletter utility</li>
                        <li><a href="{{ '/posts/evolution-of-programming-language-traits' | url }}">Evolution of Programming Language Traits</a> about string interpolation, cultural evolution and free software</li>
                    </ul>
                </p>
                <h2>Philosophy</h2>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/interview-with-christine-m-korsgaard-animal-ethics-kantianism-utilitarianism' | url }}">Interview with Christine M. Korsgaard</a> about animal ethics, Kantianism and utilitarianism</li>
                        <li><a href="{{ '/posts/two-inadequate-arguments-against-moral-vegetarianism' | url }}">Two Inadequate Arguments against Moral Vegetarianism</a> about considerations on price elasticity and supply chain buffers</li>
                        <li><a href="{{ '/posts/auderico' | url }}">Auderico</a> about our duties to inanimate objects, in dialogue form</li>
                        <li><a href="{{ '/posts/paying-for-a-service' | url }}">Paying for a Service</a>, <a href="{{ '/posts/paying-for-sex' | url }}">II</a> and <a href="{{ '/posts/paying-a-corporation' | url }}">III</a> about a Kantian consumer ethics</li>
                        <li><a href="{{ '/posts/moral-golems' | url }}">Moral Golems</a> about moral systems viewed as statistical models</li>
                        <li><a href="{{ '/posts/moral-standing-is-not-moral-agency' | url }}">Moral Standing Is Not Moral Agency</a> about the difference between being able to be wronged and to be able to wrong</li>
                    </ul>
                </p>
                <h2>Art</h2>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/strictness-of-logic-versus-openness-of-logic' | url }}">Strictness of Logic versus Openness of Logic</a> about Jean Sibelius, Gustav Mahler and the symphony</li>
                        <li><a href="{{ '/posts/how-can-one-tell-what-is-beautiful' | url }}">How Can One Tell What Is Beautiful?</a> about objectivity and subjectivity in art</li>
                        <li><a href="{{ '/posts/networks-of-meaning' | url }}">Networks of Meaning</a> about meaning in life, in art and in the works of Gerald Murnane</li>
                        <li><a href="{{ '/posts/mysteries-of-the-unknown-the-unknowable' | url }}">Mysteries of the Unknown and the Unknowable</a> about conundrums, mysticism and H. P. Lovecraft</li>
                    </ul>
                </p>
                <h2>Effective Altruism</h2>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/interview-with-lucia-coulter-lead-exposure-effective-altruism-progress-in-malawi' | url }}">Interview with Lucia Coulter</a> about her work with the Lead Exposure Elimination Project</li>
                        <li><a href="{{ '/posts/rights-or-welfare-for-animals' | url }}">Terminology in Animal Advocacy</a>, <a href="{{ '/posts/possible-resolutions-to-the-rights-welfare-debate-in-animal-advocacy' | url }}">II</a> and <a href="{{ '/posts/dimensions-of-animal-advocacy-terminology' | url }}">III</a> about the rights/welfare debate and word choices in the animal movement</li>
                        <li><a href="{{ '/posts/tolstoy-in-ryazan' | url }}">Tolstoy in Ryazan</a> about charity, moral systems & moral intuition</li>
                    </ul>
                </p>
                <h2>History/politics</h2>
                <p>
                    <ul>
                        <li><a href="{{ '/posts/problems-with-eating-animals' | url }}">Problems with "Eating Animals"</a> about veganism and systemic change</li>
                        <li><a href="{{ '/posts/two-accounts-of-the-armenian-genocide' | url }}">Two Accounts of the Armenian Genocide</a> about eyewitness reports of the Medz Yeghern</li>
                    </ul>
                </p>
                <p>✗</p>
            </div>
        </main>

        <footer>
            <p>This site was created by <a href="{{ 'https://github.com/erwald' | url }}">myself</a> and is licensed under <a href="{{ 'https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1' | url }}">CC BY-SA 4.0</a>.</p>
            <p>It tracks page views using <a href="{{ 'https://plausible.io/privacy-focused-web-analytics' | url }}">Plausible</a>, so without collecting any personal data, without cookies and fully anonymously, purely for my own curiosity and in order to improve the site.</p>
        </footer>
    </body>
</html>
